#top{
    background-color: orange;
    padding: 10px;
    text-align: left;
    font-size: 24px;
    font-family: monospace;
}
#open-modal{
    float: right;
    font-size: 18px;
    background-color: darkorange;
}

.modal-dialog{
    font-size: 24px;
}

#reset{
    width: 300px;
    border-radius: 10px;
    height: 40px;
    border-style:none;
    margin-top: 20px;
}
